/* normalize css starts here */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* normalize css ends here */

html {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif;
  color: #222;
}

body {
  width: fit-content;
  height: fit-content;
}

.app {
  height: 100%;
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  min-width: 10rem;
  padding: 2em 2em 1em 2em;

  .title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    white-space: nowrap;
  }

  .subtitle {
    font-size: 12px;
    color: rgb(94 94 94);
  }

  .divider {
    width: 80%;
    border: 0.5px dashed #000;
    opacity: 0.1;
  }

  .github-link {
    height: calc(0.4em + 25px);
    width: calc(0.4em + 25px);

    &:hover svg {
      fill: #ee8f00;
      transition: fill 0.15s ease-in-out;
    }
  }

  .requires-reload {
    color: #437dfa;
    font-size: 0.6rem;
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    button {
      background-color: #fff;
      border: 1px solid #d5d9d9;
      border-radius: 8px;
      box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
      box-sizing: border-box;
      color: #0f1111;
      cursor: pointer;
      display: inline-block;
      font-family: 'Amazon Ember', sans-serif;
      font-size: 13px;
      line-height: 29px;
      padding: 0 10px 0 11px;
      position: relative;
      text-align: center;
      text-decoration: none;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      vertical-align: middle;
      width: 100px;

      display: inline-flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background-color: #f7fafa;
      }

      &:focus {
        border-color: #008296;
        box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
        outline: 0;
      }

      .text {}

      .spinner {
        display: none;
        animation: rotate 2s linear infinite;
        z-index: 2;
        width: 20px;
        height: 20px;
        margin: 4.5px 0;

        & .path {
          stroke: hsl(210, 70, 75);
          stroke-linecap: round;
          animation: dash 1.5s ease-in-out infinite;
        }
      }

      @keyframes rotate {
        100% {
          transform: rotate(360deg);
        }
      }

      @keyframes dash {
        0% {
          stroke-dasharray: 1, 150;
          stroke-dashoffset: 0;
        }

        50% {
          stroke-dasharray: 90, 150;
          stroke-dashoffset: -35;
        }

        100% {
          stroke-dasharray: 90, 150;
          stroke-dashoffset: -124;
        }
      }

      &.loading {
        .spinner {
          display: block;
        }

        .text {
          display: none;
        }
      }
    }
  }

  ul.settings {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    .setting {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 1em;
      margin-bottom: 0.5em;

      .info {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        text-align: start;
      }

      .setting-name {
        font-weight: 600;
        white-space: nowrap;
      }

      .setting-description {
        font-style: italic;
      }
    }
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .author {
      font-size: 0.6rem;
      white-space: nowrap;
      color: rgb(94 94 94);
    }
  }
}